@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

$primary-color: #fac748;
$secondary-color: #ecf0f3;
$transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
$border-radius: 44px;
$gamer-font: "Press Start 2P", cursive;

%container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  min-height: 100vh;
  color: #fff;
}

#root {
  &::after {
    background: url("../assets/images/bg/bg-home-4.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    content: " ";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
  }
}

.section-title {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 30px 40px;
  width: 100%;
  white-space: nowrap;
  h2 {
    font-size: 1.7rem;
  }
  span {
    position: relative;
    bottom: -1px;
    margin-right: 10px;
    color: $primary-color;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: $gamer-font;
  }
  &::after {
    content: "";
    display: block;
    position: relative;
    top: 1px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: $primary-color;
  }
  @media only screen and (max-width: 900px) {
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px 30px;
    width: unset;
    &::after {
      width: 0;
      margin: 20px;
    }
  }
}

.code-text {
  font-family: $gamer-font;
}

.primary-text{
  color: $primary-color
}

@import "./sidenavs.scss";
@import "./hero.scss";
@import "./about-me.scss";
@import "./timeline.scss";
@import "./portfolio.scss";
