.sidenav {
    position: fixed;  // Eliminada la línea duplicada
    bottom: 0px;

    &[sidenav-orientation="left"] {
        left: 2.5rem;
        padding: 0;
        
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            &::after {
                content: "";
                display: block;
                width: 1px;
                height: 90px;
                margin: 0px auto;
                background-color: $secondary-color;
            }

            li {
                margin: 1rem 0;

                a {
                    color: $secondary-color;
                    svg {
                        transition: $transition;
                    }

                    &:hover svg {
                        color: $primary-color;
                        transform: translateY(-3px);
                    }
                }
            }
        }
    }

    &[sidenav-orientation="right"] {
        right: 2.5rem;
        padding: 0;
        
        a {
            color: $secondary-color;
            text-decoration: none;
            writing-mode: vertical-rl;
            letter-spacing: 0.1em;
            transition: $transition;

            &:hover {
                color: $primary-color;
                transform: translateY(-3px);
            }
        }

        &::after {
            content: "";
            display: block;
            width: 1px;
            height: 90px;
            margin: 0px auto;
            background-color: $secondary-color;
        }
    }

    @media only screen and (max-width: 900px) {
        display: none;
    }
}
