.timeline{
    @extend %container;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    &__inner{
        margin: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width:900px) {
            margin: 0rem 2rem;
        }
    }
    &__container{
       display: flex;
       justify-content: center;
       @media only screen and (max-width:900px) {
           flex-wrap: wrap;
           .MuiTabs-flexContainer{
                flex-direction:row;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 2.5rem;
           }
       }
    }
    &__tab-container{
        &--title{
            span{
                padding: 0;
                margin: 0;
                font-size: 21px;
                font-weight: 500;
                a{
                    color: $primary-color;
                    text-decoration: dotted;
                    &:hover{
                        opacity: 0.75;
                    }
                }
            }
        }
        &--date{
            span{
                font-size: 0.55rem;
            }
        }
        &--content{
            
            ul{
                padding: 0px;
                margin: 20px 0px 0px;
                overflow: hidden;
                list-style: none;
                li{
                    list-style: none;
                    position: relative;
                    padding-left: 20px;
                    margin-bottom: 21px;
                    &::before {
                        content: "▹";
                        position: absolute;
                        left: 0px;
                        color: $primary-color;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
    .MuiTabs{
        &-root{
            padding-top: 24px;
        }
        &-vertical{
            min-width: 150px;
        }
        &-indicator{
            width: 3px;
            left: 0;
            right: unset;
            border-radius: 100px;
            @media only screen and (max-width:900px) {
                width: 0;
            }
        }
        &-selected{
            color: $primary-color;
            font-weight: 600;
        }
    }
    button{
        color: $secondary-color;
        border-left: 1px solid $secondary-color;
        @media only screen and (max-width:900px) {
            border: none;
        }
    }
    @media only screen and (max-width:900px) {
        min-height: auto;
    }
}