%container{
    width: 100%;
    max-width: 800px;
    min-height: 100vh;
    color: #fff;
}

.timeline{
    @extend %container;
    margin: auto;
    button{
        color: #fff;
        border-left: 1px solid #fff;
    }
    .MuiTabs-indicator{
        width: 3px;
        left: 0;
        right: unset;
        border-radius: 100px;
    }
}